<p>
  <%= @post.body %>
</p>

<p>
  <strong>by</strong>
  <%= @post.user.email %>
</p>

<a href="<%= edit_post_path(@post) %>" class="btn btn-default btn-back">Edit
</a>
<a href="<%= posts_path %>" class="btn btn-default btn-back">Back
</a>
