<p>
  <%= @post.body %>
</p>

<p>
  <strong>by</strong>
  <%= @post.user.email %>
</p>


<% if current_user == @post.user %>
<a href="<%= edit_user_post_path(@post) %>" class="btn btn-default btn-back">Edit
</a>
<% end %>
<a href="<%= home_path %>" class="btn btn-default btn-back">Done
</a>
