/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 $font-family-sans-serif: "Work Sans", Helvetica, Arial, sans-serif !default;
 $font-size-base: 16px;

 @import 'bootstrap-sprockets';
 @import 'bootstrap';
 @import 'https://fonts.googleapis.com/css?family=Noto+Serif|Work+Sans';

a {
   color: green;
   text-decoration: none;
}

a:hover {
  color: lighten( green, 10% );
  text-decoration: none;
}

 .glyphicon {
   padding-right: 5px;
 }

.btn-default {
  border: none;
}

.btn-wide {
  width: 100%;
}

.btn-confirm {
   background-color: lightgreen;
 }

 .btn-back {
 background-color: lightgrey;
 }

.btn-search {
  background-color: lightgreen;
  border: 1px solid lightgreen;
}

.btn-search:hover {
    background-color: darken( lightgreen, 10% );
    border: 1px solid darken( lightgreen, 10% );
  }

.searchfield {
  border: none !important;
  background-color: ghostwhite;
  box-shadow: none !important;
  outline: none !important;
}

#search:invalid + .input-group-btn {
    .btn-search {
      background-color: lightgrey;
      border: 1px solid lightgrey;
    }
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

.panel-heading {
  text-align: center;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Dipole_xmting_antenna_animation_4_408x318x150ms.gif/310px-Dipole_xmting_antenna_animation_4_408x318x150ms.gif)
}

.table td {
   text-align: center;
}

.table td.td-post {
   text-align: left;
}

.page {
  padding: 30px;
}

.post {
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 30px;
}

.inactive {
  color: lightgrey;
}

.vibe-1 {
  background-color: thistle;
}

.vibe-1:before {
font-size: 30px;
content: "😈 ";
}

.vibe-2 {
  background-color: lightyellow;
}

.vibe-2:before {
font-size: 30px;
content: "👍 ";
}

.vibe-3 {
  background-color: whitesmoke;
}

.vibe-3:before {
font-size: 30px;
content: "☁️ ";
}

.vibe-4 {
  background-color: lightblue;
}

.vibe-4:before {
font-size: 30px;
content: "😓 ";
}

.vibe-5 {
  background-color: lightsteelblue;
}

.vibe-5:before {
font-size: 30px;
content: "🙇🏻 ";
}

.vibe-6 {
  background-color: lightsalmon;
}

.vibe-6:before {
font-size: 30px;
content: "😡 ";
}
